/* styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    color: #444;
    overflow-x: hidden;
    letter-spacing: 0.5px;
}

/* font style*/
h1, h2, h3, h4, .logo {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
}

h2, h3 {
    font-size: 1.8rem;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 0px;
}

img {
    max-width: 400px;
    display: block;
}

/* header */
header {
    background: #323232;
    color: #fff;
    padding: 25px 0;
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 32px;
    color: #a9a0a0;
    font-weight: bold;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    margin-left: 35px;
}

.nav-links a {
    font-family: 'Oswald', sans-serif;
    color: #dcd5d5;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #a3896d;
}

/* menu icon */
.burger {
    display: none;
    cursor: pointer;
    font-size: 24px;
    color: #fff;
}

/* hero section */
.hero {
    background: url('../images/banner_img.jpg') no-repeat center center/cover;
    height: 85vh;
    position: relative;
    color: #fff;
}

.hero-banner {
    position: relative;
    background: url("images/banner.jpg") center/cover no-repeat;
}

.hero-overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.55);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero-content {
    width: 100%;
}

.hero-content h1 {
    font-size: 2.1rem;
    margin-bottom: 25px;
}

.quote {
    font-size: 1.1rem;
    font-weight: 300;
    max-width: 850px;
    margin: 0 auto 10px;
}

.author {
    font-style: italic;
    font-size: 0.9rem;
}

/* features */
.features {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    padding: 100px 20px;
    text-align: center;
}

.feature-item i {
    font-size: 4rem;
    color: #a3896d;
    margin-bottom: 25px;
}

.feature-item p {
    text-align: justify;
}

.feature-item h3 {
    font-size: 1.3rem;
    margin: 30px 0;
}


/* Content */
.about-block {
    padding: 50px 0 50px;
}

.content-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 90px;
    margin-bottom: 90px;
}

.content-wrap.flip-layout {
    flex-direction: row-reverse;
}

.image-side,
.text-side {
    flex: 1;
}

.image-side img {
    width: 90%;
    max-width: 520px;
    height: 300px;
    object-fit: cover;
    display: block;
}

.text-side h2,
.plan-text h2 {
    margin-bottom: 30px;
}

.text-side p {
    max-width: 620px;
    line-height: 1.9;
    text-align: justify;
}

@media (max-width: 768px) {

    .about-block {
        padding: 60px 0;
    }

    .content-wrap,
    .content-wrap.flip-layout {
        flex-direction: column;
        gap: 35px;
        margin-bottom: 60px;
    }

    .image-side img {
        width: 100%;
        max-width: 100%;
        height: auto;
    }

    .text-side {
        width: 100%;
    }

    .text-side h2,
    .plan-text h2 {
        margin-bottom: 20px;
    }

    .text-side p {
        max-width: 100%;
        line-height: 1.7;
        padding: 18px;
    }
}


/* middle page CTA */
.cta-banner {
    background: url('../images/cta_img.jpg') no-repeat center center/cover;
    color: #fff;
}

.cta-overlay {
    background: rgb(52 50 50 / 60%);
    padding: 100px 20px;
}

.left-align-content {
    text-align: left;
}

.left-align-content h2 {
    margin-bottom: 20px;
}

.left-align-content p {
    max-width: 800px;
    margin-bottom: 30px;
}

.btn-outline {
    display: inline-block;
    padding: 5px 20px;
    border: 2px solid #fff;
    color: #fff;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    transition: 0.3s;
    border-radius: 5px;
}

.btn-outline:hover {
    background: #fff;
    color: #000;
}

/* Stats and plan Section */
.stats-plan {
    display: flex;
    gap: 80px;
    padding: 100px 20px;
    align-items: center;
}

.stats-plan p {
    text-align: justify;
}

.stats-grid {
    flex: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    text-align: center;
}

.stat-item i {
    font-size: 3.5rem;
    color: #a3896d;
    margin-bottom: 10px;
}

.stat-item h4 {
    font-size: 1.3rem;
    color: #8b6d4b;
    font-weight: bold;
}

.plan-text {
    flex: 1;
}


/* testimonials */
.testimonials {
    display: flex;
    gap: 60px;
    padding-bottom: 100px;
}

.testimonials p {
    text-align: justify;
}

.testimonial-card {
    flex: 1;
}

.testimonial-card h3 {
    font-size: 1.5rem;
    border-bottom: 1px solid #eee;
    padding-bottom: 0px;
    margin-bottom: 25px;
}

.testimonial-content {
    display: flex;
    gap: 15px;
    margin-bottom: 25px;
}

@media (max-width: 768px) {

    .testimonial-content p {
        max-width: 100%;
        line-height: 1.7;
        padding: 18px;
    }
}

.quote-icon {
    font-size: 3rem;
    color: #a3896d;
    opacity: 0.5;
    line-height: 1;
}



.author-box {
    display: flex;
    align-items: center;
    gap: 15px;
}

.author-box img {
    width: 60px;
    height: 65px;
    border-radius: 50%;
    object-fit: cover;
}

.author-details strong {
    display: block;
    font-size: 1rem;
    color: #333;
}

.author-details span {
    font-size: 0.85rem;
    color: #888;
}

/* bottom CTA */
.cta-2 {
    background: url('../images/cta2_img.jpg') no-repeat center center/cover;
    text-align: center;
    color: #fff;
}

.cta2-overlay{
    background: rgb(39 38 38 / 70%);
    padding: 100px 20px;
    height: 500px;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero-content h2{
    margin-bottom: 15px;
}

.hero-content p{
    margin-bottom: 20px;
}

/* footer */
footer {
    background: #353434;
    color: #989898;
    padding: 60px 0;
    text-align: center;
}

.social-links {
    margin-bottom: 15px;
}

.social-links a {
    color: #6b6b6b;
    font-size: 1.3rem;
    margin: 0 10px;
    transition: 0.3s;
}

.social-links a:hover {
    color: #fff;
}

.footer-bottom {
    margin-top: 10px;
    font-size: 0.8rem;
}

.footer-bottom a {
    color: #666;
    text-decoration: none;
}

/* responsive */
@media (max-width: 992px) {
    .features { grid-template-columns: repeat(2, 1fr); }
    .stats-plan { flex-direction: column; }
}

@media (max-width: 768px) {
    /* Menu Icon visibility */
    .burger {
        display: block;
    }

    /* mobile nav */
    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 82px; /* Height of the header */
        left: 0;
        width: 100%;
        background: #000;
        padding: 20px 0;
        text-align: center;
        z-index: 1000;
    }

    .nav-links.nav-active {
        display: flex;
    }

    .nav-links li {
        margin: 15px 0;
        margin-left: 0;
    }

    /* banner section of mobile */
    .hero {
        height: auto;
        min-height: 70vh;
        padding: 80px 0;
    }

    .hero-content h1 {
        font-size: 2.2rem;
        line-height: 1.2;
        padding: 0 10px;
    }

    .quote {
        font-size: 1rem;
        padding: 0 20px;
    }

    /* some layout  adjustments */
    .features { grid-template-columns: 1fr; }
    .content-wrap, .content-wrap.flip-layout, .testimonials { 
        flex-direction: column; 
        text-align: center;
        gap: 30px;
    }
    
    .left-align-content { text-align: center; }
    .author-box { justify-content: center; }
    .testimonial-content { flex-direction: column; align-items: center; }
}




.feature-item{
    text-align: center;
}

.feature-item img{
    width: 60px;
    height: 60px;
    object-fit: contain;
    display: block;
    margin: 0 auto 15px;
}

.stat-item{
    text-align: center;
}

.stat-item img{
    width: 65px;
    height: 70px;
    object-fit: contain;
    display: block;
    margin: 0 auto 15px;
}
